<div class="admin_wrapper">
    <h2>Панель администратора</h2>
    <h3>Форма добавления слайда</h3>
    <form action="/slider" method="post" enctype="multipart/form-data">
        <label for="filedata">Картинка слайдера</label><br>
        <input type="file" name="filedata" /><br>
        <label for="slider_header">Заголовок слайда</label>
        <input type="text" name="slider_header">
        <label for="slider_description">Описание слайда</label>
        <input type="text" name="slider_description">
        <input type="submit" value="Создать слайд" />
      </form>
      <br />
      <p>===============================</p>
      <br />
      <h3>Форма добавления категорий картин</h3>
      <form action="/admin/pictures-categories" method="POST">
      
        <label for="picture_category_name">Имя категории</label>
        <input type="text" name="picture_category_name">
        <button type="submit">Создать категорию</button>
      </form>

    <h4>Категории картин:</h4>
    {{#if pic_cat}}
        {{#each pic_cat}}
            <p>{{this.picture_category_name}}</p>
        {{/each}}
    {{/if}}
    <p>===============================</p>
    <h3>Форма добавления картин</h3>
    <form action="/admin/pictures" method="post" enctype="multipart/form-data">
    <div class="main_picture_form_content">
        <label for="filedata">Изображение картины</label><br>
        <input type="file" name="filedata" /><br>
        <label for="picture_header">Заголовок картины</label>
        <input type="text" name="picture_header">
        <label for="picture_description">Описание картины</label>
        <input type="text" name="picture_description">
        <label for="picture_description">Цена картины</label>
        <input type="text" name="picture_price">
    </div>
    <div class="categories">
        <h4>Категория картины:</h4>
        {{#each pic_cat}}
        <input type="checkbox" name="pic_category" value="{{this.picture_category_slug}}" id="">
        <label>{{this.picture_category_name}}</label><br />
        {{/each}}
    </div><br />
    <input type="submit" value="Создать картину" />
      </form>


</div>