<!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/assets/img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Contact</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Contact Area Start -->
    <div class="contact-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2 class="contact-title mb-30">Let’s Work <br>Together</h2>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Contact Info -->
                    <div class="contact-info mb-30">
                        <p>Email</p>
                        <a href="mailto:info.deercreative@gmail.com">info.deercreative@gmail.com</a>
                    </div>
                    <!-- Contact Info -->
                    <div class="contact-info mb-30">
                        <p>Call Us</p>
                        <a href="#">+6511.188.888</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Contact Info -->
                    <div class="contact-info mb-30">
                        <p>Visit Us</p>
                        <a href="#">60-49 Road 11378 New York</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Area End -->

<div class="container mb-5">
    <div class="alime-contact-form mt-50">
                        <h4 class="mb-30">Связь со мной</h4>

                        <!-- Form -->
                        <form action="/admin/messages" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <input type="text" name="message_name" class="form-control mb-30" placeholder="Ваше имя">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="email" name="message_email" class="form-control mb-30" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Сообщение"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn alime-btn btn-2 mt-15" style="font-weight: bold;">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
</div>