<div class="ui-175">
			<div class="container">
				<div class="center column d-flex">
					<div class="col-md-6 col-sm-6 col-xs-6 col-mob" style="margin: 170px auto;">
						<!-- Outer Starts -->
						<div class="ui-outer">	
							<!-- Form -->
							<div>
								<h3 class="text-center mb-3">Регистрация</h3>
								<!-- Heading -->
								<!-- Form -->
								<form method="POST" action="/register" class="form">
                                {{#if loginerror}}<p class="text-center" style="color: red; font-size: 15px;">{{error_message}}</p>{{/if}}
									<div class="form-group">
										<!-- Email -->
										<input type="text" class="form-control" name="username" placeholder="Введите имя">
									</div>
									<div class="form-group">
										<!-- Password -->
										<input type="password" name="password" class="form-control mt-2" placeholder="Укажите пароль">
									</div>
									<div class="form-group">
										<!-- Password -->
										<input type="password" name="retype-password" class="form-control mt-2" placeholder="Повторите пароль">
									</div>
									<input type="hidden" name="source" value="{{source}}">
									<a style="text-decoration: underline; margin-left: 27%; font-size: 12px;" href="/login">Уже зарегистрированы? Войдите в систему.</a>
									
									<div class="form-group text-center">
										<!-- Log In Button -->
										<button type="submit" class="btn alime-btn btn-2 mt-30 wow fadeInUp">Зарегистрироваться</button>
									</div>
								</form>
							</div>	
					</div>
				</div>
			</div>
		</div>